@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashBoardLayoutWithMenu.cshtml";
}


<div class="contentWrapper">
    

    <h2 style="text-align:center; width:761px; margin-left:140px;">@HospitalManagementSystem.Utility.GetHospitalName()</h2>


    <br /><br />

    <div>

        <p style="font-size:16px; text-align:center;">Contact Us.</p>
        <div><hr /></div>


        <p style="font-size:15px; text-align:center; background-color:#3399FF;"><br />@HospitalManagementSystem.Utility.HospitalAddress()
            <br /><br />
        </p>


    </div>
        
    </div>