@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_MisLayOutLayout.cshtml";
}


<div class="contentWrapper" style="margin-top: 0;">

    <div class="row-fluid">

        <div class="container accessBox">

            <ul class="dashboard-actions clearfix">

                <li>
                    <a href="~/Mis/Index" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setting.jpg" alt="" class="">
                            <h5> Department Reports </h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="~/Mis/OtList" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setting.jpg" alt="" class="">
                            <h5>Ot List </h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="~/Mis/AgeReportIndex" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setting.jpg" alt="" class="" />
                        <h5>Age Wise Search</h5>
                        </div>
                    </a>
                </li>
            @* <li>
                <a href="~/Stock/Transection" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      
                    <h5>Transection</h5>
                  </div>
                </a>
              </li>*@
                <li>
                    <a href="~/Mis/GenderReportIndex" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setting.jpg" alt="" class="" />
                            <h5>Gender Wise Search</h5>
                        </div>
                    </a>
                </li>
             @*<li>
                <a href="~/Stock/StockReport" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Report</h5>
                  </div>
                </a>
              </li>*@
                <li>
                <a href="~/Mis/GetdistrictReportIndex" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>District Wise Report</h5>
                  </div>
                </a>
              </li>
            <li>
                <a href="~/Mis/GetZoneReportIndex" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Zone Wise Report</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="~/Mis/GetVdcMunReportIndex" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>VDC/Mun Wise Report</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="~/Mis/GetOutReferReportIndex" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Out Refer Base Report</h5>
                  </div>
                </a>
              </li>           
            <li>
                <a href="~/Mis/DoctorReportIndex" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Doctor Wise Report</h5>
                  </div>
                </a>
              </li>
            @* <li>
                <a href="~/Pathology/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pathology5.jpg" alt="" class="">
                    <h5>Pathology Module</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pharmacy-img.jpg" alt="" class="">
                    <h5>Pharmacy Module</h5>
                  </div>
                </a>
              </li>

            

             
           
 <!--------------------------Here i am breaking with <br/> tag to make as design pyramid styles if you dont need that styles that remove the <br/> tag from here--------------------------------------->
             
               <br />

           
                <li>

               <a href=# data-toggle="n-tooltip">

                   

                  <div class="dashboard-action">
                    <img src="~/Images/secutity-img.jpg" alt="DepartmentSetup/Index" class="">
                      
                    <h5>Security Module</h5>
                  </div>
                </a>
              </li>


              <li>
                <a href="~/EmergencyMaster/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/emergency1.jpg" alt="" class="">
                    <h5>Emergency</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/BloodTransection/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/bloodbank.jpg" alt="" class="">
                    <h5>Blood Bank</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/OperationTheatreMaster/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/operation2.jpg" alt="" class="">
                    <h5>Operation Theatre</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/PreRegistration/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pre-Registration.png" alt="" class="">
                    <h5>Pre-Registration</h5>
                  </div>
                </a>
              </li>

              <br />
              

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="~/Stock/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock</h5>
                  </div>
                </a>
              </li>
              <li>
                   <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <br />
              

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
                *@
            </ul>

        </div>
    </div>
</div>
<div class="footer">

    <div class="footer-left"><span>© 2017. HospitalManagementSystem Management System. All Rights Reserved.</span> </div>
    <div class="footer-right"><span>Designed and Developed by: Pushkar Adhikari</span> </div>
</div>



