@model HospitalManagementSystem.Models.GlAccountSubGroupModel

@{
    ViewBag.Title = "DetailOfCOA";
    Layout = "~/Views/Shared/_GlAccountSubGrp.cshtml";
}

<h2></h2>

<table class="table">
    <tr>
        <td>

        </td>
    </tr>
</table>

