@model Hospital.Models.PreRegistrationDoctorDisease



<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>


    </tr>

    @foreach (var item in Model.PreRegistrationDoctorDiseaseList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>


        </tr>
    }

</table>



