@{
    ViewBag.Title = "Master Setup";
    Layout = "~/Views/Shared/_MasterSetupLayout.cshtml";
}


<style>
    .dashboard-action {
        /* border: 1px solid #CCCCCC;
    border-radius: 2px;
    height: 110px;
    margin-bottom: 20px;
    padding: 10px 10px 11px;
    position: relative;
    text-align: center;*/
        transition: all 0.4s ease-in-out 0s;
    }
</style>



<div class="contentWrapper mainWrapper">

    <div class="row-fluid">

        <div class="container accessBox">

            <ul class="dashboard-actions clearfix wrap clear">

                <li>
                    <a href="~/SetUpHospitalFee/Index" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/fee2.jpg" alt="" class="">
                            <h5>Registration Fee Setup</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="~/SetUpHospitalFeeDiscount/Index" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/discount.jpg" alt="" class="">
                            <h5>Reg. Fee Discount Setup</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="~/SetupOtherDiscount/Index" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/other_discount.jpg" alt="" class="">
                            <h5>Other Discount Setup</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href='~/DoctorFeeSetup/Index' data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/doctorfee.jpg" alt="" class="">
                            <h5>Doctor Fee Setup</h5>
                        </div>
                    </a>
                </li>

                @*<li>
                    <a href="~/MemberTypeDiscount/Index" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/memberdiscount.jpg" alt="" class="">
                            <h5>Member Discount Setup</h5>
                        </div>
                    </a>
                </li>*@


                <br />

                <li>
                    <a href="~/SetupPathoTest/Index" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setuppathotest.jpg" alt="" class="">
                            <h5>Pathology Test Setup</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="~/SetupMedicalCharge/Index" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setting.jpg" alt="" class="">
                            <h5>Medical Charge Setup</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="~/JournalVFromat/Index" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setupjv.jpg" alt="" class="">
                            <h5>Journal Vouchar No.Setup</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="~/SetUpEmergencyFee/Index" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setting.jpg" alt="" class="">
                            <h5>Emergency Fee Setup</h5>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="~/OperationTheatreMaster/SurgeryCharge" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setting.jpg" alt="" class="">
                            <h5>Surgery Charge Setup</h5>
                        </div>
                    </a>
                </li>
                <br />

                <li>
                    <a href="~/Setting/DoctorSpecialist" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setting.jpg" alt="" class="">
                            <h5>Doctor Specialist</h5>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="~/Mis/BillAmountDifference" data-toggle="n-tooltip">
                        <div class="dashboard-action">
                            <img src="~/Images/setting.jpg" alt="" class="">
                            <h5>CB Details</h5>
                        </div>
                    </a>
                </li>



                @*5ht row complete*@
                <br />






                <!--------------------------Here i am breaking with <br/> tag to make as design pyramid styles if you dont need that styles that remove the <br/> tag from here--------------------------------------->




                <br />









            </ul>

        </div>
    </div>
</div>

