@{
    ViewBag.Title = "NotAuthorized";
    Layout = "~/Views/Shared/_EmergencyLeftBlankLayout.cshtml";
    //Layout = null;
}
<div class="contentWrapper">
    <div style="text-align: center; font-size: 25px; color: red;">You are not authorized to view this page...</div>
</div>
