@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_DashBoardLayOut.cshtml";
}




<h3>Under Construction.....</h3>
    
      @*<div class="contentWrapper" style="margin-top:-40px;">

       <div class="row-fluid">

          <div class="container accessBox">
         
          <ul class="dashboard-actions clearfix">

             <li>
                <a href="~/DepartmentSetup/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setup1.jpg" alt="" class="">
                    <h5>Master SetUp</h5>
                  </div>
                </a>
              </li>

                <li>
                <a href="~/Opd/Index" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/opd-img.jpg" alt="" class="">
                      
                    <h5>OPD Module</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/Ipd/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/ipd-img.jpg" alt="" class="">
                      <h5>IPD Module</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/Pathology/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pathology5.jpg" alt="" class="">
                    <h5>Pathology Module</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pharmacy-img.jpg" alt="" class="">
                    <h5>Pharmacy Module</h5>
                  </div>
                </a>
              </li>

            

             
           
 <!--------------------------Here i am breaking with <br/> tag to make as design pyramid styles if you dont need that styles that remove the <br/> tag from here--------------------------------------->
             
               <br />

           
                <li>

               <a href=# data-toggle="n-tooltip">

                   

                  <div class="dashboard-action">
                    <img src="~/Images/secutity-img.jpg" alt="DepartmentSetup/Index" class="">
                      
                    <h5>Security Module</h5>
                  </div>
                </a>
              </li>


              <li>
                <a href="~/EmergencyMaster/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/emergency1.jpg" alt="" class="">
                    <h5>Emergency</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/BloodTransection/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/bloodbank.jpg" alt="" class="">
                    <h5>Blood Bank</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/OperationTheatreMaster/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/operation2.jpg" alt="" class="">
                    <h5>Operation Theatre</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/PreRegistration/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pre-Registration.png" alt="" class="">
                    <h5>Pre-Registration</h5>
                  </div>
                </a>
              </li>

              <br />
              

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              <li>
                   <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <br />
              

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

            </ul>

          </div>
          </div>
      </div>*@
