@{
    //ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_StockLayout.cshtml";
}


<div class="contentWrapper" style="margin-top:0;">

       <div class="row-fluid">

          <div class="container accessBox">
         
          <ul class="dashboard-actions clearfix">

             <li>
                <a href="~/Stock/StockSetupMain" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock Setup </h5>
                  </div>
                </a>
              </li>
              <li>
                <a href='~/Demand/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Demand</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="~/StockPurchaseOrder/Index" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock Purchase Order </h5>
                  </div>
                </a>
              </li>

              <li>
                <a href='~/StockItemPurchase/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Stock Item Purchase</h5>
                     
                  </div>
                </a>
              </li>

              

               

              <li>
                <a href='~/Allotment/AllotmentMaster' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Allotment</h5>
                  </div>
                </a>
              </li>

                


                
              
              <br />

             
             <li>
                <a href="~/Stock/Index" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Distribute</h5>
                  </div>
                </a>
              </li>

              
              
            
               <li>
                <a href='~/stockbreakage/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock Breakage</h5>
                  </div>
                </a>
              </li>

             

              <li>
                <a href='~/returnout/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock Return Out</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href='~/StockReturnIn/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock Return In</h5>
                  </div>
                </a>
              </li>

               <li>
                <a href="~/Stock/ReportMenu" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Reports</h5>
                  </div>
                </a>
              </li>
              <br />
              <li>
                  <a href="~/ItemBlockSetup/Index" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Item Block Setup</h5>
                  </div>
                </a>

              </li>


                 <li>
                  <a href="~/ItemBlockRecord/Index" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Item Records</h5>
                  </div>
                </a>

              </li>


              <br />
             @* <li>
                <a href="~/Pathology/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pathology5.jpg" alt="" class="">
                    <h5>Pathology Module</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pharmacy-img.jpg" alt="" class="">
                    <h5>Pharmacy Module</h5>
                  </div>
                </a>
              </li>

            

             
           
 <!--------------------------Here i am breaking with <br/> tag to make as design pyramid styles if you dont need that styles that remove the <br/> tag from here--------------------------------------->
             
               <br />

           
                <li>

               <a href=# data-toggle="n-tooltip">

                   

                  <div class="dashboard-action">
                    <img src="~/Images/secutity-img.jpg" alt="DepartmentSetup/Index" class="">
                      
                    <h5>Security Module</h5>
                  </div>
                </a>
              </li>


              <li>
                <a href="~/EmergencyMaster/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/emergency1.jpg" alt="" class="">
                    <h5>Emergency</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/BloodTransection/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/bloodbank.jpg" alt="" class="">
                    <h5>Blood Bank</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/OperationTheatreMaster/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/operation2.jpg" alt="" class="">
                    <h5>Operation Theatre</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/PreRegistration/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pre-Registration.png" alt="" class="">
                    <h5>Pre-Registration</h5>
                  </div>
                </a>
              </li>

              <br />
              

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="~/Stock/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock</h5>
                  </div>
                </a>
              </li>
              <li>
                   <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <br />
              

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

            </ul>*@

          </div>
          </div>
      </div>
     
    




    
