@{
    ViewBag.Title = "StockSetupMain";
    Layout = "~/Views/Shared/_StockSetupLayout.cshtml";
}




<div class="contentWrapper" style="margin-top:0;">
    <h3 style=""><a href='~/Stock/Main' title=""><span>Go to Stock Modules</span></a></h3>
       <div class="row-fluid">

          <div class="container accessBox">
         
          <ul class="dashboard-actions clearfix">

             <li>
                <a href='~/StockItem/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock Item Type Setup</h5>
                  </div>
                </a>
              </li>

           


                <li>
                <a href='~/StockCategory/index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      
                    <h5>Stock Category Setup</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href='~/StockSubCategory/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Sub Category Setup</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href='~/StockUnit/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Stock Unit Setup</h5>
                  </div>
                </a>
              </li>
              
              <li>
                <a href='~/StockSupplier/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock Supplier Setup</h5>
                  </div>
                </a>
              </li>
              <br />

                 <li>
                <a href='~/StockItemEntry/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Stock Item Entry</h5>
                  </div>
                </a>
              </li>

             @* <li>
                <a href='~/StockItemEntry/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Stock Item Entry</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href='~/StockItemPurchase/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                      <h5>Stock Item Purchase</h5>
                     
                  </div>
                </a>
              </li>

              <li>
                <a href='~/Demand/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Demand</h5>
                  </div>
                </a>
              </li>
             
              <li>
                <a href='~/Allotment/Index' data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Allotment</h5>
                  </div>
                </a>
              </li>*@

             @* <li>
                <a href="~/Pathology/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pathology5.jpg" alt="" class="">
                    <h5>Pathology Module</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pharmacy-img.jpg" alt="" class="">
                    <h5>Pharmacy Module</h5>
                  </div>
                </a>
              </li>

            

             
           
 <!--------------------------Here i am breaking with <br/> tag to make as design pyramid styles if you dont need that styles that remove the <br/> tag from here--------------------------------------->
             
               <br />

           
                <li>

               <a href=# data-toggle="n-tooltip">

                   

                  <div class="dashboard-action">
                    <img src="~/Images/secutity-img.jpg" alt="DepartmentSetup/Index" class="">
                      
                    <h5>Security Module</h5>
                  </div>
                </a>
              </li>


              <li>
                <a href="~/EmergencyMaster/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/emergency1.jpg" alt="" class="">
                    <h5>Emergency</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/BloodTransection/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/bloodbank.jpg" alt="" class="">
                    <h5>Blood Bank</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/OperationTheatreMaster/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/operation2.jpg" alt="" class="">
                    <h5>Operation Theatre</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="~/PreRegistration/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/Pre-Registration.png" alt="" class="">
                    <h5>Pre-Registration</h5>
                  </div>
                </a>
              </li>

              <br />
              

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              <li>
                <a href="~/Stock/Main" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Stock</h5>
                  </div>
                </a>
              </li>
              <li>
                   <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <br />
              

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>

              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>
              
              <li>
                <a href="#" data-toggle="n-tooltip">
                  <div class="dashboard-action">
                    <img src="~/Images/setting.jpg" alt="" class="">
                    <h5>Settings</h5>
                  </div>
                </a>
              </li>*@

            </ul>

          </div>
          </div>
      </div>
      <div class="footer">

    <div class="footer-left"><span>© 2017. HospitalManagementSystem Management System. All Rights Reserved.</span> </div>
    <div class="footer-right"><span>Designed and Developed by: Pushkar Adhikari</span> </div>
</div>
    

