@model HospitalManagementSystem.Models.BillingCounterModel

@{
    ViewBag.Title = "DeleteCBBillDetials";
    Layout = "~/Views/Shared/_BillingCounterLayout.cshtml";
}

<h2>Bill Canceled Successfully.  </h2>

