@model HospitalManagementSystem.Models.BillingCounterModel

@{
    ViewBag.Title = "IPDPatientDischarge";
    Layout = "~/Views/Shared/_BillingCounterLayout.cshtml";
}

<h3>Patient Discharged From IPD List</h3>
