@model IEnumerable<HospitalManagementSystem.Models.OperationTheatreMasterModel>

@{
    ViewBag.Title = "TestMultiple";
    Layout = "~/Views/Shared/EditorTemplate/OperationTheatreMasterModel.cshtml";
}

<h2>TestMultiple</h2>


<table>
 



    @Html.EditorForModel()


</table>
