@model HospitalManagementSystem.Models.BillingModel

@{
    ViewBag.Title = "Patient Transaction Details";
    Layout = "~/Views/Shared/_MisLayOutLayout.cshtml";
}

<h2>Search Patient</h2>

<div class="contentWrapper">



    @using (Html.BeginForm("PatientTranDetails", "Billing", FormMethod.Post, new { @id = "myform" }))
    {
        <span style="display: none; color: red;" id="error">Please Select Options First</span><br />
 
        <select name="selectOptions" class="srchoptn">

            <option value="0">Search Option</option>
            <option value="1">Patient Id</option>
            <option value="2">Patient Name</option>

        </select>
     
        <span id="txtid"></span> @Html.TextBox("value", null, new { @id = "value", @placeholder = "Value Here" })
        @Html.Hidden("ReportOrRefund", null, new { @Value="Report"})

        <input type="submit" value="show" class="btnsub" />
    }

    <div id="showResult">
    </div>


    <br />


    <script type="text/javascript">

        var nonn = $.noConflict();

        nonn('.btnsub').on('click', function (e) {
            e.preventDefault();


            var optVal = nonn('.srchoptn').val();
            if (optVal == 0) {
                nonn(".srchoptn").focus();
                nonn('#showResult').empty();


            }
            else {


                var form = nonn('#myform');
                var url = form.attr("action");
                var formData = form.serialize();
                nonn.post(url, formData, function (data) {

                    nonn('#showResult').empty();
                    nonn('#showResult').html(data);

                });
            }

        });

    </script>
